.cards-heading {
    position: relative;
    text-align: center;
    font-family: 'HeroFont', sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    color: #0d1b2a;
  }
  @media (max-width: 778px) {
    .cards-heading{
        font-size: 2rem;
        margin-top: 50px;
    }
}
  .cards {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  
  .card {
    flex: 1;
    max-width: 300px; 
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px grey;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px grey;
  }
  
  .card-image {
    padding-top: 10px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 200px;
  }
  
  .card-content {
    padding: 20px;
    background-color: rgb(241, 241, 241);
  }
  
  .card-heading {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'HeroFont', sans-serif;
  }
  
  .card-subheading {
    font-family: 'Catamaran', sans-serif;
    font-weight: 550;
    font-size: 1rem;
    color: #2a2a2a;
    margin-bottom: 15px;
  }
  
  .card-button {
    display: flex;
    align-self: center;
    padding: 6px 20px;
    background-color: blueviolet;
    color: #fff;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
    box-shadow: 0 0 10px grey;
  }
  
  @media screen and (max-width: 768px) {
    .cards {
      padding: 20px;
      flex-direction: column; 
      align-items: center; 
    }
  }
  