@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Orbitron:wght@400..900&display=swap');

@font-face {
    font-family: 'HeroFont';
    src: url('./assets/HeroFont.woff') format('woff'); 
  }

html{
  scroll-behavior: smooth;
}
body {
  background-color: #fee440;
}
svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1a9;
  backdrop-filter: blur(10px);
}
::-webkit-scrollbar-thumb {
  background: blueviolet;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background:rgba(137, 43, 226, 0.715);
}